@page "/"
@rendermode InteractiveServer
@inject ActorSystem ActorSystem

<PageTitle>Home</PageTitle>

<h1>Active Jobs</h1>

@if (_jobs is null)
{
    <p><em>Loading...</em></p>
}
else if (_jobs.Jobs.Count == 0)
{
    <p><em>No active jobs.</em></p>
}
else
{
    <div class="row">
        @foreach (var job in _jobs.Jobs)
        {
            <div class="col-md-4 mb-3">
                <JobCard Job="job" ActorSystem="ActorSystem" />
            </div>
        }
    </div>
}

@code {
    private JobsCollection? _jobs;

    protected override async Task OnInitializedAsync()
    {
        await LoadJobs();

        // Set up a timer to periodically refresh the job list (e.g., every 5 seconds)
        _ = Task.Run(async () => {
            while (true)
            {
                await Task.Delay(5000);
                await InvokeAsync(LoadJobs); // Use InvokeAsync to update the UI
                StateHasChanged();
            }
        });
    }

    private async Task LoadJobs()
    {
        var jobManager = ActorSystem.Cluster().GetJobManagerGrain("root");
        _jobs = await jobManager.ListJobs(CancellationToken.None);
    }
}
